body{
    background-color:pink;
} 
*{
    margin: 0px;
    padding: 0px;
}
 ul{
    background:rgb(172, 166, 166);
      }
  ul li{
    display: inline-block;
    margin-left: 10px;
    list-style:none;
    font: 20px sans-serif;
    color: aliceblue;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 120px;
}
 ul li a{ 
    text-decoration: none;
    color: antiquewhite;
    display: block;
}
#dropdown{  
    display: none;
}
 ul li:hover #dropdown{
    display:block; 
    position:absolute;
    z-index: 999;
    width: 120px;

}